.sheet {

    position:fixed;

    inset:0;

    display:none;

    z-index:200;

}



.sheet.show {

    display:flex;

    align-items:flex-end;

}



.sheet-bg {

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.35);

}



.sheet-box {

    position:relative;

    width:100%;

    max-width:100vw;

    background:var(--card);

    border-radius:25px 25px 0 0;

    padding:

    25px 16px

    calc(35px + env(safe-area-inset-bottom));

}



.sheet-box h2 {

    margin:0 0 20px;

}



.sheet-box input {

    display:block;

    width:100%;

    height:52px;

    margin-bottom:12px;

    padding:0 14px;

    border:1px solid var(--border);

    border-radius:14px;

    font-size:16px;

}



/* FIX IOS DATE TIME */

.sheet-box input[type="date"],
.sheet-box input[type="time"] {

    appearance:none;

    -webkit-appearance:none;

    width:100%;

    min-width:0;

    padding:0 14px;

}



.sheet-box input::-webkit-date-and-time-value {

    text-align:left;

    min-height:52px;

    display:flex;

    align-items:center;

}



.save-button {

    width:100%;

    height:52px;

    border:0;

    border-radius:15px;

    background:var(--accent);

    color:white;

    font-size:16px;

    font-weight:700;

}